*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
}
*:focus{
  outline:none;
}
body{
  font-size: 14px;
  line-height: 24px;
  margin:0 auto;
  text-align:center;
}
div, section, header, li{
  position:relative;
}
a{
  cursor:pointer;
}

header{
  font-family: "Futura","Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
body, aside{
  font-family: Palatino, Georgia, serif;
}
h1{
  font-size:42px;
  line-height:42px;
}
h1 sup{
  vertical-align:middle;
  font-size:1rem;
}
h3{
  text-decoration:underline;
}
address{
  font-style:normal;
  position:relative;
}
section, footer{
  border-top:1px solid #000;
}
body>section{
  border-top:none;
}
section{
  padding-bottom:1rem;
}

.il,
.il li{
  display:inline-block;
}
.il li:not(:last-of-type):after{
  content:",";
}
.il li:last-of-type:before{
  content:"and ";
}

@media screen{
  body{
    padding-left:10px;
    padding-right:10px;
    padding-top:2rem;
  }
  h1{
    text-shadow:0 0 1px #bbb;
  }
  h1 sup{
    color:#999;
  }
  a{
    text-decoration:underline;
    color:#369;
  }
  a:hover{
    color:#69c;
  }
}
@media all and (min-width:501px){
  h3, li, section p{
    text-align:left;
  }
  h1+p{
    text-align:center;
  }
  aside,
  address p+p{
    position:absolute;
    top:0;
    right:0;
  }
  aside,
  aside p,
  aside li,
  address p+p{
    text-align:right;
  }
  ol>li:not(:last-of-type){
    margin-bottom:1rem;
  }
}

@media screen and (min-width:501px){
  footer>p,
  h1+p,
  h2{
    margin:1rem auto;
  }
  body{
    max-width:800px;
    padding-bottom:2rem;
  }
}

@media screen and (max-width:500px){
  h1 sup{
    display:block;
    line-height:18px;
  }
  address{
    margin-top:1rem;
  }
  footer>p,
  h1+p,
  h2{
    margin:2rem auto;
  }
  aside{
    font-style:italic;
  }
  h2{
    text-transform:uppercase;
  }
  ol>li{
    margin-bottom:2rem;
  }
}

@media print{
  h1{
    text-shadow:none;
  }
  a{
    text-decoration: none;
  }
  .np{
    display:none;
  }
}
