*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
}
*:focus{
  outline:none;
}
body{
  font-size: 14px;
  line-height: 24px;
  margin:0 auto;
  max-width:800px;
  text-align:center;
}
h3, li, section p{
  text-align:left;
}
div, section, header, li{
  position:relative;
}
a{
  color:#369;
  cursor:pointer;
  text-decoration:underline;
}
a:hover{
  color:#69c;
}

header
{
  font-family: "Futura","Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
body, aside{
  font-family: Palatino, Georgia, serif;
}
h1{
  font-size:42px;
  line-height:64px;
}
h1 sup{
  vertical-align:middle;
  font-size:1rem;
  color:#999;
}
h3{
  text-decoration:underline;
}
aside{
  position:absolute;
  top:0;
  right:0;
}
aside,
aside p,
aside li{
  text-align:right;
}
address{
  font-style:normal;
}
section, footer{
  border-top:1px dotted #000;
}
h1+p, h2{
  margin-bottom:1rem;
}
h3{
  margin-top:1rem;
}
section{
  padding:1rem 0;
}

.il,
.il li{
  display:inline-block;
}
.il li:not(:last-of-type):after{
  content:",";
}
.il li:last-of-type:before{
  content:"and ";
}
