body{
  font-size: 14px;
  line-height: 24px;
  margin:0 auto;
  text-align:center;
}
div, section, header, li{
  position:relative;
}
a{
  cursor:pointer;
}

header{
  font-family: "Futura","Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
body, aside{
  font-family: Palatino, Georgia, serif;
}
h1{
  font-size:42px;
  line-height:42px;
}
h1 sup{
  vertical-align:middle;
  font-size:1rem;
}
h3{
  text-decoration:underline;
}
address{
  font-style:normal;
  position:relative;
}
.outline section,
.outline footer{
  border-top:1px solid #000;
}
.outline>section{
  border-top:none;
}
section{
  padding-bottom:1rem;
}
em{
  font-style:italic;
}
strong{
  font-weight:bold;
}
aside li{
  font-style:italic;
}
img{
  display:block;
}
.text p{
  text-indent:20px;
  margin-bottom:20px;
}

.il,
.il li{
  display:inline-block;
}
.il li:not(:last-of-type):after{
  content:",";
}
.il.and li:nth-last-child(2)+li:last-of-type:before{
  content:"and ";
}
.il.and li:last-of-type:after{
  content:".";
}

nav a{
  display:inline-block;
  padding-right:1rem;
  padding-left:1rem;
  margin:0.5rem 1rem;
  border-radius:3px;
  color:#fff;
  background-color:#9bd;
  text-decoration:none;
}
nav a:hover{
  color:#fff;
  background-color:#69c;
}

@media all and (min-width:501px){
  h3, li, section p{
    text-align:left;
  }
  h1+p{
    text-align:center;
  }
  aside,
  address p+p{
    position:absolute;
    top:0;
    right:0;
  }
  aside,
  aside p,
  aside li,
  address p+p{
    text-align:right;
  }
  ol>li:not(:last-of-type){
    margin-bottom:1rem;
  }
}

@media print{
  nav{
    display:none;
  }
}
