*{
  text-shadow:-10px -10px 5px red;
  cursor:url(../img/nyan.png), auto;
}
html{
  background-image:url("../img/star.jpg");
  background-attachment:fixed;
  background-color:black;
}
body{
  font-size:18px;
  line-height:36px;
  font-family:"Comic Sans MS", cursive, sans-serif;
  color:white;
  text-align:center;
  overflow-x:hidden;
}
header{
  font-family:Papyrus, fantasy;
  font-weight:bold;
}

h1{
  position:relative;
  overflow:hidden;
  font-size:72px;
  line-height:100px;
  background-color:blue;
  white-space:nowrap;
  color:lime;
  text-align:left;
  animation:marquee 3s linear alternate infinite;
}
h1:after{
  content:"";
  display:block;
  height:100%;
  width:100px;
  top:0;
  right:0;
  position:absolute;
  background-image:url("../img/robin.gif");
  background-position:center center;
  background-size:cover;
}
sup{
  font-size:.5em;
  color:pink;
  vertical-align:middle;
  animation: wokka 1s linear infinite;
}

section{
  background-image:url("../img/lensflare.png");
  background-repeat:no-repeat;
  background-position:right top;
}
section:after{
  content:"";
  display:block;
  height:20px;
  width:100%;
  background-image:url("../img/bar.gif");
  background-repeat:repeat-x;
}
h1+p,
h2{
  color:#ff0;
  text-align:center;
  font-size:48px;
  line-height:54px;
  padding:12px 0;
  animation:hypnotoad .5s linear alternate infinite;
}
h1+p:hover,
h2:hover{
  animation: gohomeyouredrunk .1s linear infinite;
}
h3{
  color:#0f0;
  font-size:2em;
  margin-top:1em;
  animation:gohomeyouredrunk 1s linear infinite;
}
a{
  display:inline-block;
  position:relative;
  color:#0f0;
  background-image:url("../img/globe.gif");
  background-repeat:no-repeat;
  padding-left:40px;
  border-bottom:5px dotted #0f0;
  background-color:#000;
  transform: skew(0deg);
  transition: background-color 0.2s, transform 0.2s;
}
a:hover{
  background-color: #f00;
  transform: skew(20deg);
}

footer{
  background-image:url("../img/fire.gif");
  background-repeat:repeat-x;
  background-position:bottom;
  min-height:100px;
}

@keyframes hypnotoad{
  0%{
    color:red;
  }
  25%{
    color:orange;
  }
  50%{
    color:yellow;
  }
  75%{
    color:white;
  }
}

@keyframes wokka{
  0%{
    transform:rotateX(0deg);
  }
  100%{
    transform:rotateX(360deg);
  }
}

@keyframes gohomeyouredrunk{
  0%{
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(2deg);
  }
  50%{
    transform:rotate(0deg);
  }
  75%{
    transform:rotate(-2deg);
  }
  100%{
    transform:rotate(0deg);
  }
}

@keyframes marquee{
  from{
    text-indent:100%;
  }
  to{
    text-indent:0%;
  }
}
