*{
	margin:0;
	border:0;
	padding:0;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	font-style:inherit;
	border-collapse:collapse;
	text-decoration:inherit;
	color:inherit;
	list-style:none;
}
*:focus{
	outline:none;
}

:root{
	font-family:"Garamond", "Times New Roman", serif;
	font-size:18px;
	line-height:1.6em;
	width:100%;
}
body{
	&.extended{
		[data-template=one-pager]{
			display:none;
		}
	}
	&.one-pager{
		[data-template=extended]{
			display:none;
		}
	}
}
main{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
section{
	position:relative;
	margin-bottom:1em;
}
nav{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	border-top:1px solid rgba(0,0,0,0.1);
	background-color:#fff;
	opacity:0.9;
	transition:0.1s opacity;

	&:hover{
		opacity:1;
	}

	ul{
		margin:0 auto;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
}

main li{
	position:relative;
	padding-left:1em;
	&:before{
		display:inline-block;
		position:absolute;
		left:0;
		content:"\2022";
	}
	li{
		&:before{
			content:"-";
		}
	}
}

h1, h2, h3{
	sub{
		font-weight:normal;
		vertical-align:baseline;
	}
}
h1{
	font-weight:bold;
	text-decoration:underline;

	& + p{
		font-weight:bold;
	}
}
h2{
	font-weight:bold;
	border-top:1px solid #ccc;
	padding-top:1em;
	text-align:center;
}
h3{
	a{
		font-weight:bold;
		text-decoration:underline;
	}
	& + p{
		font-weight:bold;
	}
}
h4{
	font-weight:bold;
}

a{
	cursor:pointer;
}
em{
	font-style:italic;
}

.social{
	a{
		text-decoration:none;
	}
	svg{
		height:1.6em;
		vertical-align:bottom;
	}
}
@media screen{
	:root{
		color:#292929;
	}
	main{
		padding:1em;
		margin-top:3em;
	}
	nav ul{
		padding:0 1em;
	}
	section{
		margin-bottom:4em;
	}
	h2{
		padding-top:3em;
		padding-bottom:1em;
	}

	h1{
		text-transform:uppercase;
		color:#006DB3;
	}
	a{
		color:#009BFF;
		text-decoration:underline;

		&:hover{
			color:#FF8E00;
		}
	}
	header, aside{
		text-align:center;
	}
}
@media screen and (min-width: 900px){
	main{
		width:850px;
	}
	nav ul{
		width:850px;
		margin:0 auto;
	}
}
@media print, screen and (min-width: 900px){
	header{
		text-align:left;
	}
	aside{
		position:absolute;
		top:0;
		right:0;
		text-align:right;
	}
}
@media print{
	:root{
		font-size:14px;
		line-height:1.6em;
		color:#000;
	}
	main{
		padding: 0;
	}
	section:last-of-type{
		margin-bottom:0;
	}
	nav{
		display:none;
	}
}
