* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  border-collapse: collapse;
  text-decoration: inherit;
  color: inherit;
  list-style: none;
}

*:focus {
  outline: none;
}

:root {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  width: 100%;
}

body {
  position: relative;
}

section {
  clear: both;
  position: relative;
  margin-bottom: 1em;
}

li {
  position: relative;
  padding-left: 1em;
}
li:before {
  display: inline-block;
  position: absolute;
  left: 0;
  content: "\2022";
}
li li {
  margin-left: 1em;
}
li li:before {
  content: "-";
}

h1 sub, h2 sub, h3 sub {
  font-weight: normal;
  vertical-align: baseline;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-weight: bold;
  border-top: 5px solid #ccc;
  padding-top: 1em;
  text-align: center;
}

h3 {
  font-weight: bold;
  text-decoration: underline;
}
h3 + p {
  font-weight: bold;
}

em {
  font-weight: bold;
  font-style: italic;
}

a {
  cursor: pointer;
}

img {
  display: block;
}

.social svg {
  height: 1.6em;
  vertical-align: bottom;
}

@media print {
  section:last-of-type {
    margin-bottom: 0;
  }
}
@media screen {
  body {
    margin: 0 auto;
    padding: 10px;
  }

  a {
    color: #37a;
  }

  header, aside {
    text-align: center;
  }
}
@media print, screen and (min-width: 6.5in) {
  aside {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }

  header {
    text-align: left;
  }

  aside {
    text-align: right;
  }
}
@media screen and (min-width: 9in) {
  body {
    width: 8.5in;
    padding: 0;
  }
}
