* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
  cursor:url('images/party/nyan.png'), progress;
  font-smooth:none;
  -webkit-font-smoothing:none;
  -moz-font-smoothing:unset;
}
html, body{
	background-color:#000;
	color:#fff;
	font-family:"Comic Sans MS", cursive;
}
body{
	padding-top:30px;
	background-image:url('./images/party/star.jpg');
	width:100%;
	overflow-x:hidden;
	text-align:center;
}
section.hero:before{
	display:block;
	white-space:pre-wrap;
	content:"Oh hi, l33t haxx0r!\AThis is the exact same page as the previous one.\AThe content and HTML haven't changed,\Ait's just using a different stylesheet!\AI use this to demonstrate the power of CSS to my web design students.";
	text-shadow:1px 1px 0px #f00;
	margin-bottom:20px;
	background-color:rgba(100,100,100,0.7);
}
h1{
	color:#f00;
	font-size:48px;
	margin:10px 0;
}
h1 sub{
	display:inline-block;
	position:relative;
	font-size:24px;
	color:#ff0;
	vertical-align:middle;
	animation:backflips 2s linear infinite;
}
@keyframes backflips{
	from{
		transform:rotateX(0deg);
	}
	to{
		transform:rotateX(360deg);
	}
}
h1 + p{
	display:block;
	color:#f00;
	position:relative;
	font-size:36px;
	line-height:60px;
	text-align:center;
	white-space:nowrap;
	background-color:#00f;
	margin-bottom:20px;
	width:300%;
	animation:marquee 5s linear infinite;
}
@keyframes marquee{
	from{
		left:-200%;
	}
	to{
		left:0%;
	}
}
h2{
	margin:30px 0;
	font-size:48px;
	color:#ff0;
	font-family:'Papyrus', fantasy;
	text-shadow:2px 2px 0px #f00;
}
h2:before{
	display:block;
	content:' ';
	background-image:url('./images/party/bar.gif');
	height:10px;
	background-repeat:repeat-x;
	width:100%;
	margin-bottom:20px;
}
h3{
	font-size:24px;
	color:#666;
	font-weight:bold;
	background-image:url('./images/party/fire.gif');
	background-position:-100px;
	background-size:150px;
	margin-top:20px;
	text-decoration:underline;
}
img{
	position:relative;
}
img:hover{
	animation:wiggle 0.1s linear infinite;
}
@keyframes wiggle{
	0%{
		transform:rotateZ(-5deg);
	}
	50%{
		transform:rotateZ(5deg);
	}
	100%{
		transform:rotateZ(-5deg);
	}
}
nav{
	margin:30px 0;
}
nav li{
	display:inline-block;
}
nav a{
	display:inline-block;
	background-color:#999;
	padding:10px;
	color:#000;
	font-size:24px;
	font-family:'Impact', sans-serif;
	border-radius:5px;
	box-shadow:5px 5px 0px 0px #666;
	margin:10px;
}
nav a:hover{
	background-color:#fff;
	animation:blink 1s steps(2,end) infinite;
}
@keyframes blink{
	0%{
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
ul li{
	color:#fff;
	list-style-position:inside;
	list-style-type:square;
}
section a{
	display:inline-block;
	color:#0f0;
	border-bottom:3px solid #00f;
	margin:5px;
}
section a:before{
	display:inline-block;
	vertical-align:middle;
	width:34px;
	height:24px;
	background-image:url('./images/party/globe.gif');
	content:' ';
}
section a:hover{
	animation:glow 1s linear infinite;
}
@keyframes glow{
	0%{
		color:#f00;
	}
	50%{
		color:#ff0;
	}
	100%{
		color:#f00;
	}
}
body > section:last-of-type:after{
	display:block;
	content:' ';
	height:78px;
	background-image:url('./images/party/fire.gif');
	background-repeat:repeat-x;

}

.headshot{
	background-image:url('./images/party/robin.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}
.headshot img{
	opacity:0;
}

section{
	background-image:url('./images/party/lensflare.png');
	background-repeat:no-repeat;
	background-position:top right;
}
