---

---

@import "./_geocities";

$data-content-names: resume cv;
$data-style-names: business geocities;

$main:#19A5FF;
$main-darker:#009BFF;
$main-darkest:#006CB2;
$compliment:#FF9500;
$compliment-darker:#B26900;

$screen-width: 1000px;

*{
  margin:0;
  border:0;
  padding:0;
  font-size:inherit;
  font-family:inherit;
  font-weight:inherit;
  font-style:inherit;
  border-collapse:collapse;
  text-decoration:inherit;
  color:inherit;
  list-style:none;
}
*:focus{
  outline:none;
}

:root{
  font-family:"Georgia", serif;
  font-size:16px;
  line-height:1.9em;
}
:root, body{
  width:100vw;
  max-width:100%;
  overflow-x:hidden;
}
body{
  @each $content-name in $data-content-names{
    &[data-active-content=#{$content-name}] [data-if-content]:not([data-if-content=#{$content-name}]){
      display:none;
    }
  }
  @each $style-name in $data-style-names{
    &[data-active-style=#{$style-name}] [data-if-style]:not([data-if-style=#{$style-name}]){
      display:none;
    }
  }
}
main{
  position:relative;
  margin-left:auto;
  margin-right:auto;
}
.nav-wrap{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  border-top:1px solid rgba(0,0,0,0.1);
  background-color:#fff;
  
  opacity:0.9;
  transition:0.1s opacity;
  
  &:hover{
    opacity:1;
  }
}
nav{
  display:flex;
  flex-direction:row;
  
  & > *{
    flex-grow: 1;
  }
}
.slider{
  position:relative;
  text-align:center;
  
  & > a{
    display:block;
    position:relative;
    float:left;
    width:50%;
    height:2em;
    box-sizing:border-box;
    text-decoration:none;
    color:#444;
    
    &:nth-of-type(1):after,
    &:nth-of-type(2):before{
      content:' ';
      
      display:block;
      position:absolute;
      box-sizing:border-box;
      top:0.25em;
      height:1.5em;
      border-radius:1.5em;
    }
    
    &:nth-of-type(1){
      text-align:right;
      padding-right:1.7em;
      z-index:999;
      
      &:after{
        width:1.5em;
        background-color:#fff;
        border:3px solid $main-darkest;
        transition:right 0.2s;
      }
      &:not(.active):after{
        right:-1.5em;
      }
      &.active:after{
        right:0;
      }
    }
    &:nth-of-type(2){
      text-align:left;
      padding-left:1.7em;
      
      &:before{
        left:-1.5em;
        width:3em;				
        background-color:$main-darkest;
      }
    }
  }
}

main li{
  position:relative;
  padding-left:1em;
  
  &:before{
    display:inline-block;
    position:absolute;
    left:0;
    content:"\2022";
  }
  li{
    &:before{
      content:"-";
    }
  }
}

h1{
  font-weight:bold;
  text-decoration:underline;
  
  & + p{
    font-weight:bold;
  }
  sub{
    font-weight:normal;
    vertical-align:baseline;
  }
}
h2{
  font-weight:bold;
  border-top:1px solid #ccc;
  text-align:center;
}
h3{
  a{
    font-weight:bold;
    text-decoration:underline;
  }
  & + p{
    font-weight:bold;
  }
}
h4{
  font-weight:bold;
}

a{
  cursor:pointer;
}
em{
  font-style:italic;
}
dfn{
  font-style:italic;
}

.prose{
  p{
    margin:1em 0;
  }
}
.social{
  a{
    font-size:0;
    text-decoration:none;
  }
  svg{
    height:1.6rem;
    vertical-align:top;
    fill:#000;
  }
}
$diag-width:200px;
$diag-height:50px;
$diag-icon-width:30px;
.github-link{
  display:block;
  position:fixed;
  z-index:999;
  
  top:0;
  right:-($diag-width/2);
  width:$diag-width;
  height:$diag-height;
  transform:rotateZ(45deg);
  transform-origin:100px 0px;
  
  background-color:$main;
  opacity:0.5;
  &:hover{
    opacity:1;
  }
  @media print{
    &{
      display:none;
    }
  }
  
  svg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: ($diag-height - $diag-icon-width) - 5px;
    width:$diag-icon-width;
    height:$diag-icon-width;
    fill:#fff;
  }
}
@media screen{
  :root{
    color:#292929;
  }
  main{
    padding:1em;
    margin-top:3em;
  }
  section{
    margin-bottom:4em;
  }
  header {
    text-align:center;
  }
  h1{
    text-transform:uppercase;
    color:$compliment;
  }
  h2{
    padding-top:3em;
    padding-bottom:1em;
  }
  a{
    color:$main;
    text-decoration:underline;
    
    &:hover{
      color:$compliment;
    }
  }
  .social svg{
    fill:$main-darker;
    &:hover{
      fill:$compliment;
    }
  }
}
@media screen and (max-width: #{$screen-width - 1}){
  h3{
    font-size:0;
    & > *{
      font-size:1rem;
    }
    span{
      display:block;
      font-style:italic;
      &:first-letter{
        text-transform:uppercase;
      }
    }
  }
}
@media screen and (min-width: #{$screen-width}){
  main{
    max-width:$screen-width;
  }
  nav{
    max-width:$screen-width;
    margin:0 auto;
  }
}
@media print, screen and (min-width: #{$screen-width}){
  h3{
    span{
      display:inline;
      font-style:normal;
    }
  }
  header{
    display: flex;
  }
  header > :first-child{
    flex-grow:1;
    text-align:left;
  }
  header > :last-child {
    text-align:right;
  }
}
@media print{
  :root{
    color:#000;
    font-size:12px;
    line-height:1.8em;
  }
  .nav-wrap{
    display:none;
  }
  h2{
    padding-top:1em;
  }
  section{
    margin-bottom:1.6em;
    
    section{
      page-break-inside:avoid;
    }
    
    &:last-of-type{
      margin-bottom:0;
    }
  }
}
.lightbox{
  position:fixed;
  width:100vw;
  height:100vh;
  overflow:hidden;
  top:0;
  left:0;
  z-index:100;
  
  &.active{
    display:flex;
  }
  &:not(.active){
    display:none;
  }
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  background-color:rgba(255,255,255,0.8);
  
  & > *{
    display:block;
    text-align:center;
    max-width:600px;
    background-color:#fff;
    text-decoration:none;
    font-size:2em;
    line-height:1.2em;
    padding:0.2em;
    border-radius:3px;
  }
}
