<!DOCTYPE html>
<html>
<head>
	<title>Letter from Robert Thomas</title>
	<link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

	<section class="title">
		<header>
			<h1>Robert <sub>(aka Robin)</sub> Thomas</h1>
			<p>Technology Instruction &amp; Management</p>
			<p><a href="http://robertakarobin.com">www.RobertAKARobin.com</a></p>
		</header>

		<address>
			<span>Uptown, Minneapolis, Minnesota</span>
			<span><a href="mailto:hello@robertakarobin.com">hello@RobertAKARobin.com</a></span>
			<time><script>document.write(new Date().toDateString());</script></time>
		</address>
	</section>

	<section class="text">
		<h2>This is a headline</h2>

		<p>The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse.</p>

		<p>The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse. The sum of the squares of the legs of a right triangle is equal to the square of the hypotineuse.</p>
	</section>

	<section>
		<p>My best, <img src="../img/signature.jpg" alt="My signature" /></p>
		<address>
			<p>
				Robert (Robin) Thomas<br />
				Phone: (513)280-7988<br />
				Email: contact@robertakarobin.com
			</p>
		</address>
	</section>

</body>
</html>
