$data-content-names: resume cv;
$data-style-names: business geocities;

$main:#19A5FF;
$main-darker:#009BFF;
$main-darkest:#006CB2;
$compliment:#FF9500;
$compliment-darker:#B26900;

*{
	margin:0;
	border:0;
	padding:0;
	font-size:inherit;
	font-family:inherit;
	font-weight:inherit;
	font-style:inherit;
	border-collapse:collapse;
	text-decoration:inherit;
	color:inherit;
	list-style:none;
}
*:focus{
	outline:none;
}

:root{
	font-family:"Georgia", serif;
	font-size:15px;
	line-height:1.8em;
}
:root, body{
	width:100vw;
	max-width:100%;
	overflow-x:hidden;
}
body{
	@each $content-name in $data-content-names{
		&[data-active-content=#{$content-name}] [data-if-content]:not([data-if-content=#{$content-name}]){
			display:none;
		}
	}
	@each $style-name in $data-style-names{
		&[data-active-style=#{$style-name}] [data-if-style]:not([data-if-style=#{$style-name}]){
			display:none;
		}
	}
}
main{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
section{
	position:relative;
	margin-bottom:1em;
}
nav{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	border-top:1px solid rgba(0,0,0,0.1);
	background-color:#fff;
	opacity:0.9;
	transition:0.1s opacity;

	&:hover{
		opacity:1;
	}

	display:flex;
	flex-direction:row;

	& > *{
		flex-grow: 1;
	}
}
.slider{
	position:relative;
	text-align:center;

	& > a{
		display:block;
		position:relative;
		float:left;
		width:50%;
		height:2em;
		box-sizing:border-box;
		text-decoration:none;
		color:#444;

		&:nth-of-type(1):after,
		&:nth-of-type(2):before{
			content:' ';

			display:block;
			position:absolute;
			box-sizing:border-box;
			top:0.25em;
			height:1.5em;
			border-radius:1.5em;
		}

		&:nth-of-type(1){
			text-align:right;
			padding-right:1.7em;
			z-index:999;

			&:after{
				width:1.5em;
				background-color:#fff;
				border:3px solid $main-darkest;
				transition:right 0.2s;
			}
			&:not(.active):after{
				right:-1.5em;
			}
			&.active:after{
				right:0;
			}
		}
		&:nth-of-type(2){
			text-align:left;
			padding-left:1.7em;

			&:before{
				left:-1.5em;
				width:3em;				
				background-color:$main-darkest;
			}
		}
	}
}

main li{
	position:relative;
	padding-left:1em;

	&:before{
		display:inline-block;
		position:absolute;
		left:0;
		content:"\2022";
	}
	li{
		&:before{
			content:"-";
		}
	}
}

h1, h2, h3{
	sub{
		font-weight:normal;
		vertical-align:baseline;
	}
}
h1{
	font-weight:bold;
	text-decoration:underline;

	& + p{
		font-weight:bold;
	}
}
h2{
	font-weight:bold;
	border-top:1px solid #ccc;
	padding-top:1em;
	text-align:center;
}
h3{
	a{
		font-weight:bold;
		text-decoration:underline;
	}
	& + p{
		font-weight:bold;
	}
}
h4{
	font-weight:bold;
}

a{
	cursor:pointer;
}
em{
	font-style:italic;
}

.social{
	a{
		text-decoration:none;
	}
	svg{
		height:1.6em;
		vertical-align:bottom;
		fill:#000;
	}
}
$diag-width:200px;
$diag-height:50px;
$diag-icon-width:30px;
.github-link{
	display:block;
	position:fixed;
	z-index:999;

	top:0;
	right:-($diag-width/2);
	width:$diag-width;
	height:$diag-height;
	transform:rotateZ(45deg);
	transform-origin:100px 0px;

	background-color:$main;
	opacity:0.5;
	&:hover{
		opacity:1;
	}
	@media print{
		&{
			display:none;
		}
	}

	svg{
		display:block;
		margin-left: auto;
		margin-right: auto;
		margin-top: ($diag-height - $diag-icon-width) - 5px;
		width:$diag-icon-width;
		height:$diag-icon-width;
		fill:#fff;
	}
}
@media screen{
	:root{
		color:#292929;
	}
	main{
		padding:1em;
		margin-top:3em;
	}
	section{
		margin-bottom:4em;
	}
	h2{
		padding-top:3em;
		padding-bottom:1em;
	}
	h3{
		&, & span{
			font-style:italic;
		}
		& span{
			display:block;
		}
	}
	header, aside{
		text-align:center;
	}
	h1{
		text-transform:uppercase;
		color:$compliment;
	}
	a{
		color:$main;
		text-decoration:underline;

		&:hover{
			color:$compliment;
		}
	}
	.social svg{
		fill:$main-darker;
		&:hover{
			fill:$compliment;
		}
	}
}
@media screen and (min-width: 900px){
	main{
		width:850px;
	}
	nav{
		width:850px;
		margin:0 auto;
	}
}
@media print, screen and (min-width: 900px){
	:root{
		font-size:16px;
		line-height:1.9em;
	}
	header{
		text-align:left;
	}
	aside{
		position:absolute;
		top:0;
		right:0;
		text-align:right;
	}
	h3{
		&, & span{
			font-style:normal;
		}
		& span{
			display:inline;
		}
	}
}
@media print{
	:root{
		color:#000;
		font-size:14px;
		line-height:1.6em;
	}
	nav{
		display:none;
	}
	main{
		padding: 0;
	}
	section:last-of-type{
		margin-bottom:0;
	}
}
body[data-active-style=geocities]{
	background-image:url(/img/star.jpg);
	background-position:fixed;
	background-color:#000;
	
	&, main *{
		cursor:url('/img/nyan.png'),progress !important;
	}
	&:before{
		content:' ';
		display:block;
		position:absolute;
		top:0;
		right:0;
		background-image:url(/img/lensflare.png);
		width:300px;
		height:300px;
	}

	nav{
		cursor:default !important;
	}

	main{
		font-family: 'Comic Sans MS', cursive;
		font-size:14px;
		text-align:center;
		color:#fff;

		&:after,
		& > section:first-of-type:after{
			content:' ';
			display:block;
			background-image:url(/img/fire.gif);
			height:78px;
			width:100%;
			margin-bottom:2em;
		}

		a{
			display:inline-block;
			position:relative;
			color:#0ff;
			
			&:hover,
			&:hover svg{
				animation:glow 0.4s linear infinite;
				cursor:url('/img/magnifyer.png'),pointer !important;
			}
			&:before{
				content:' ';
				display:inline-block;
				width:34px;
				height:24px;
				background-image:url(/img/globe.gif);
				vertical-align:middle;
			}
			&:hover:before{
				animation:backflips 0.8s linear infinite;
			}
		}
		svg{
			&, &:hover{
				fill:#fff;
			}
		}
		
		h1, h2, h3{
			&, & + p{
				font-family: 'Papyrus', fantasy;
				font-size:16px;
				line-height:2em;
				color:#0f0;
			}
			& + p{
				font-weight:normal;
			}
		}
		h1{
			font-size:48px;
			line-height:54px;
			margin:1em 0;
			text-transform:none;
			color:#f00;
			position:relative;
			animation:blink 0.3s steps(1) infinite, marquee 3s linear alternate infinite;

			& + p{
				animation:wiggle 0.5s steps(1) infinite;
			}
		}
		h2{
			font-size:36px;
			padding:0;
			border:0;
			color:#f00;
			text-decoration:underline;
			position:relative;
			animation:glow 1s steps(2) infinite;

			&:before{
				content:' ';
				background-image:url(/img/bar.gif);
				display: block;
				width:100%;
				height:10px;
				background-repeat:repeat-x;
			}
		}
		header{
			text-align:center;
		}
		aside{
			position:relative;
			text-align:center;
		}
		li:before{
			content:' ';
			position:relative;
			left:-0.5em;
			background-image:url(/img/dot.gif);
			width:14px;
			height:14px;
			vertical-align:middle;
		}
	}
}
.lightbox{
	position:fixed;
	width:100vw;
	height:100vh;
	overflow:hidden;
	top:0;
	left:0;
	z-index:100;

	&.active{
		display:flex;
	}
	&:not(.active){
		display:none;
	}
	flex-direction:column;
	justify-content:center;
	align-items:center;

	background-color:rgba(255,255,255,0.8);

	& > *{
		display:block;
		text-align:center;
		max-width:600px;
		background-color:#fff;
		text-decoration:none;
		font-size:2em;
		line-height:1.2em;
		padding:0.2em;
		border-radius:3px;
	}
}
@keyframes blink{
	0%{
		opacity:1;
	}
	50%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@keyframes glow{
	0%{
		color:#f00;
		fill:#f00;
	}
	50%{
		color:#ff0;
		fill:#ff0;
	}
	100%{
		color:#f00;
		fill:#f00;
	}
}
@keyframes marquee{
	from{
		left:-50%;
	}
	to{
		left:50%;
	}
}
@keyframes backflips{
	from{
		transform:rotateX(0deg);
	}
	to{
		transform:rotateX(360deg);
	}
}
@keyframes wiggle{
	0%{
		transform:rotateZ(-1deg);
	}
	50%{
		transform:rotateZ(1deg);
	}
	100%{
		transform:rotateZ(-1deg);
	}
}
